:where(.css-dev-only-do-not-override-42nv3w).ant-select-outlined:not(
    .ant-select-customize-input
  )
  .ant-select-selector,
:where(.css-dev-only-do-not-override-42nv3w).ant-select-dropdown {
  background-color: rgb(55 65 81 / 1);
  border-color: rgb(75 85 99 / 1);
  color: white;
}
.anticon {
  color: white;
}
.ant-select-selection-item,
.ant-select-item-option-content {
  color: white !important;
}
.ant-select-item-option-selected > div {
  color: black !important;
}
.ant-select-selection-placeholder {
  color: rgba(255, 255, 255, 0.497) !important;
}
.ant-select-item-option-active {
  background-color: rgb(0 0 0 / 30%);
}
:where(.css-dev-only-do-not-override-42nv3w).ant-form-item {
  margin-bottom: 0;
}
