.ant-form-item {
  margin-bottom: 0;
}
.ant-select-clear {
  right: 5px !important;
}
.ant-select-selection-search-input {
  padding-right: 8px !important;
}
.ant-form-item-control,
.ant-form-item-control-input-content,
.ant-form-item-row {
  display: flex;
  flex: 1 1 auto;
}
@media (min-width: 575px) {
  .ant-select.ant-select-in-form-item {
    width: 200px;
  }
}
